.head-text{
    justify-content:start !important;
}
.table-header{
    color:darkgray;
    font-family: "Mukta", sans-serif;
}
.table-img{
    width: 180px;
}
.qty-btn-apply{
    width:120px;
}
.quantity-btn{
    border:1px red solid;
    color:red;
}
.quantity-btn:hover{
    color:white;
    background-color: red;
}
.col-item{
    text-align: center;
    vertical-align: middle;
}
.cart-btn{
    padding: 10px 75px;
    font-size: 12px;
}
.coupon-code{
    width: 95%;
    margin-right: 115px;
}
.apply-btn{
    font-size: 12px;
    padding: 11px 60px;
}
.cart-totals{
    margin-left: 220px;
}
.foot-img{
    width: 75%;
}
.contact-container{
    margin-left: 95px;
}
.footer-links{
    margin-right: 20px;
    font-size: 15px;
}
.number{
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    padding: 0px 7px;
}