.head-text{
    justify-content:start !important;
}
.table-header{
    color:darkgray;
    font-family: "Mukta", sans-serif;
}
.table-img{
    width: 180px;
}
.qty-btn-apply{
    width:120px;
}
.quantity-btn{
    border:1px red solid;
    color:red;
}
.quantity-btn:hover{
    color:white;
    background-color: red;
}
.col-item{
    text-align: center;
    vertical-align: middle;
}
.cart-btn{
    padding: 10px 75px;
    font-size: 12px;
}
.coupon-code{
    width: 95%;
    margin-right: 115px;
}
.apply-btn{
    font-size: 12px;
    padding: 11px 60px;
}
.cart-totals{
    margin-left: 220px;
}