body{
    font-family: "Mukta", sans-serif;
    line-height: 1.7;
    font-weight: 300;
    font-size: 16px;
}
.home-container{
    height: 500px;
    position: relative;
    overflow: hidden;
    background-color: whitesmoke;
}

.home-div{
    width: 1100px;
}
.home-img-apply{
    width: 100%;
}
.home-text-apply{
    margin-top: 15%;
    text-align: center
}
.subtitle{
    font-size: 14px;
}
.heading{
    font-size: 70px;
    font-weight: 900;
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.home-btn{
    border-radius: 0px;
    padding: 7px 20px;
}
.cart-nav{
    margin-left:30px;
}
.head{
    justify-content:start !important;
}
a{
    color: red;
    text-decoration: none;
}
.nav-apply{
    border-bottom: 1px solid #f9f9f9;
}
.btn-apply{
    background-color: whitesmoke;
    border-radius: 2px;
}

.categories-div{
    border: 1px whitesmoke solid;
    border-radius: 5px;
    margin: 30px;
    padding: 24px;
    text-align: left;
}
h5 {
    font-size: 16px;
    margin-bottom: 25px;
    margin-left: 20px;
}
.list-right{
    text-align: right;
}
.list-group{
    text-align: left;
    line-height: 0px;
}
.list-group-item{
    border: none;
}
.rounded-circle {
    border-radius: 50% !important;
    width: 15px;
    height: 15px;
    margin: 5px;
}
.card{
    border: none;
}
.card-img-top{
    background-color: whitesmoke;
}
  