body{
    font-family: "Mukta", sans-serif;
    line-height: 1.7;
    font-weight: 300;
    font-size: 16px;
}
.home-container{
    height: 500px;
    position: relative;
    overflow: hidden;
    background-color: whitesmoke;
}

.home-div{
    width: 1100px;
}
.home-img-apply{
    width: 100%;
}
.home-text-apply{
    margin-top: 15%;
    text-align: center
}
.subtitle{
    font-size: 14px;
}
.heading{
    font-size: 70px;
    font-weight: 900;
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.home-btn{
    border-radius: 0px;
    padding: 7px 20px;
}
.cart-nav{
    margin-left:30px;
}
.head{
    justify-content:start !important;
}
a{
    color: red;
    text-decoration: none;
}
.nav-apply{
    border-bottom: 1px solid #f9f9f9;
}
.btn-apply{
    background-color: whitesmoke;
    border-radius: 2px;
}

.categories-div{
    border: 1px whitesmoke solid;
    border-radius: 5px;
    margin: 30px;
    padding: 24px;
    text-align: left;
    width: 70%;
}
h5 {
    font-size: 16px;
    margin-bottom: 25px;
    margin-left: 20px;
}
.list-right{
    text-align: right;
}
.list-group{
    line-height: 0px;
}
.list-group-item{
    border: none;
}
.rounded-circle {
    border-radius: 50% !important;
    width: 15px;
    height: 15px;
    margin: 5px;
}
.card{
    border: none;
    width: 100%;
    margin: 5px;
}
.img-fluid{
    width: 100%;
    height: 400px;
    padding: 40px;
    background: whitesmoke;
    overflow: hidden;
    object-fit: cover;
}
.card-body{
    padding: 5px;
    line-height: 15px;

}
.item-title{
    color: lightslategray;
    font-size: 18px;
    margin-left: 15px;
    /* font-weight: normal; */
    /* margin-bottom: 0; */
}
.strike-text{
    color: darkgray;
}
.page-link{
    background-color: white;
    color: red;
    border-radius: 50% !important;
    border: 1px gray solid;
    margin: 7px;
}
.foot-img{
    width: 75%;
}
.contact-container{
    margin-left: 95px;
}
.footer-links{
    margin-right: 20px;
    font-size: 15px;
}
.number{
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    padding: 0px 7px;
}