.header-text:hover{
    color: pink !important;
}
.bg-header{
    font-size: 60px;
}
.bg-text{
    margin-top: 250px;
}
.discover-img-container{
    margin-left: 75px;
}
.women-men-btns{
    top: 60%;
    left: 50%;

}
.items-text{
    font-size: 10px;
    padding-top: 12px;
}
.grid-2{
    gap: 10px;
}
